/************************************  Print CSS ******************************/

	body{
		background-color:#fff;
	}
  @page{
		size:portrait;
		size: A4;   /* auto is the initial value */
        margin: 3mm;  /* this affects the margin in the printer settings */

	}
	.report-main{
		width:100% !important;
		margin:0 auto;

	}

  .required{
		display:none;
}

.break{
page-break-before: always;
}
	.jumbotron{
		display:none !important;
	}

	.navbar {
		display:none !important;
	}
	h1.printpage
	{
		font-size:2em !important;
		font-weight:700 !important;
		padding:0 !important;
		margin:0 !important;
		color:#000 !important;
	}

	label{
		font-weight:normal !important;
	}

	h2.printpage
	{
		font-size:1em !important;
		font-weight:700 !important;
		padding:0 !important;
		margin:0 !important;
	}
